@charset "UTF-8";
/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown/BrownLLCyr-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown/BrownLLCyr-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown/BrownLLCyr-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*Basic style*/
body {
  font-family: "Brown", sans-serif;
  background: #2e303e;
}

.container {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1180px;
  box-sizing: border-box;
  margin: 0 auto;
}

p,
a,
button {
  color: rgb(160, 160, 255);
}

a:hover {
  color: rgb(103, 103, 255);
}

img, input {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 250px;
}
.login__item {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 3rem;
}
.login__name {
  height: 30px;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: white;
  margin-bottom: 20px;
  padding-left: 35px;
  background-image: url("../../assets/icons/peopleWhite.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  filter: opacity(90%);
  transition: all 0.3s ease-in-out;
}
.login__name::placeholder {
  opacity: 0.5;
  font-size: 10px;
}
.login__name:hover {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.login__name:focus {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.login__password {
  height: 30px;
  width: 214px;
  border: transparent;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 35px;
  background-image: url("../../assets/icons/padlockWhite.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  filter: opacity(70%);
  transition: all 0.3s ease-in-out;
}
.login__password::placeholder {
  opacity: 0.5;
  font-size: 10px;
}
.login__password:hover {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.login__password:focus {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.login__btn {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: auto 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-weight: normal;
  box-shadow: 3px 3px 3px -1px #1a1a1a;
  transition: all 0.3s ease-in-out;
}
.login__btn:hover {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #000000;
  font-size: 20px;
  padding: auto 10px;
  cursor: pointer;
}
.login__text {
  margin-top: 15px;
  font-size: 10px;
  color: white;
}
.login__text-error {
  margin-top: 15px;
  font-size: 10px;
  color: rgb(252, 115, 115);
}

.signup {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 250px;
}
.signup__item {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup__title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 3rem;
}
.signup__name {
  height: 30px;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: white;
  margin-bottom: 20px;
  padding-left: 35px;
  background-image: url("../../assets/icons/peopleWhite.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  filter: opacity(90%);
  transition: all 0.3s ease-in-out;
}
.signup__name::placeholder {
  opacity: 0.5;
  font-size: 10px;
}
.signup__name:hover {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.signup__name:focus {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.signup__email {
  height: 30px;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: white;
  margin-bottom: 20px;
  padding-left: 35px;
  background-image: url("../../assets/icons/emailWhite.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  filter: opacity(70%);
  transition: all 0.3s ease-in-out;
}
.signup__email::placeholder {
  opacity: 0.5;
  font-size: 10px;
}
.signup__email:hover {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.signup__email:focus {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.signup__password {
  height: 30px;
  width: 214px;
  border: transparent;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 35px;
  background-image: url("../../assets/icons/padlockWhite.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  filter: opacity(70%);
  transition: all 0.3s ease-in-out;
}
.signup__password::placeholder {
  opacity: 0.5;
  font-size: 10px;
}
.signup__password:hover {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.signup__password:focus {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.signup__btn {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: auto 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-weight: normal;
  box-shadow: 3px 3px 3px -1px #1a1a1a;
  transition: all 0.3s ease-in-out;
}
.signup__btn:hover {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #000000;
  font-size: 20px;
  padding: auto 10px;
  cursor: pointer;
}
.signup__text {
  margin-top: 15px;
  font-size: 10px;
  color: white;
}
.signup__text-error {
  margin-top: 15px;
  font-size: 10px;
  color: rgb(252, 115, 115);
}

.tasks {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px;
}

.btns {
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 12px;
  color: white;
  font-size: 8px;
  padding: auto 0;
  cursor: pointer;
  height: 24px;
  width: auto;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.btns:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}
.header__title {
  flex-grow: 1;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 50%;
}
.header__img-sort {
  height: 15px;
}
.header__img-clear {
  height: 12px;
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.main__item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main__input {
  height: 30px;
  width: 100%;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: white;
  margin-bottom: 20px;
  padding-left: 35px;
  background-image: url("../../assets/icons/taskWhite.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  filter: opacity(50%);
  transition: all 0.3s ease-in-out;
}
.main__input::placeholder {
  opacity: 0.5;
  font-size: 10px;
}
.main__input:hover {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.main__input:focus {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.main__create {
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  color: white;
  font-size: 15px;
  padding: auto 10px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  font-weight: normal;
  box-shadow: 3px 3px 3px -1px #1a1a1a;
  transition: all 0.3s ease-in-out;
}
.main__create:hover {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: #000000;
  font-size: 15px;
  padding: auto 10px;
  cursor: pointer;
}
.main__tasks {
  margin-top: 20px;
}
.main__tasks-title {
  color: rgb(250, 250, 112);
  opacity: 50%;
}
.main__tasks-list {
  padding: 10px 0 50px 50px;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 720px) {
  .tasks {
    width: 400px;
    padding: 50px 40px;
  }
  .tasks .main__create {
    height: 24px;
    border-radius: 12px;
    font-size: 12px;
  }
}
@media (max-width: 512px) {
  .tasks {
    width: 250px;
    padding: 50px 40px;
  }
  .tasks .header__img-sort {
    height: 8px;
  }
  .tasks .header__img-clear {
    height: 6px;
  }
  .tasks .main__create {
    height: 20px;
    border-radius: 10px;
    font-size: 10px;
  }
  .btns {
    height: 12px;
    border-radius: 6px;
  }
  .btns--adaptive {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
