@charset "UTF-8";
/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown/BrownLLCyr-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown/BrownLLCyr-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brown";
  src: url("../fonts/Brown/BrownLLCyr-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*Basic style*/
body {
  font-family: "Brown", sans-serif;
  background: #2e303e;
}

.container {
  display: flex;
  justify-content: center;
}

p,
a,
button {
  color: rgb(160, 160, 255);
}

a:hover {
  color: rgb(103, 103, 255);
}

img, input {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 250px;
}
.login__item {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 3rem;
}
.login__name {
  height: 30px;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: white;
  margin-bottom: 20px;
  padding-left: 35px;
  background-image: url("../../assets/icons/peopleWhite.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  filter: opacity(90%);
  transition: all 0.3s ease-in-out;
}
.login__name::placeholder {
  opacity: 0.5;
  font-size: 10px;
}
.login__name:hover {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.login__name:focus {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.login__password {
  height: 30px;
  width: 214px;
  border: transparent;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 35px;
  background-image: url("../../assets/icons/padlockWhite.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  filter: opacity(70%);
  transition: all 0.3s ease-in-out;
}
.login__password::placeholder {
  opacity: 0.5;
  font-size: 10px;
}
.login__password:hover {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.login__password:focus {
  border-bottom: 1px solid rgb(250, 250, 112);
}
.login__btn {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: auto 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-weight: normal;
  box-shadow: 3px 3px 3px -1px #1a1a1a;
  transition: all 0.3s ease-in-out;
}
.login__btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(0, 0, 0);
  border-radius: 620px;
  color: #fff;
  font-size: 20px;
  padding: auto 10px;
  cursor: pointer;
}
.login__text {
  margin-top: 15px;
  font-size: 10px;
  color: white;
}
.login__text-error {
  margin-top: 15px;
  font-size: 10px;
  color: rgb(252, 115, 115);
}

/*# sourceMappingURL=style.css.map */
