/*Basic style*/
@use 'variables';
body {
  font-family: 'Brown', sans-serif;
  background: variables.$gray;
}

.container {
  display: flex;
  justify-content: center;
}


p,
a,
button {
  color: white;
}

img, input {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}