/*Basic style*/
@use 'variables';
@use 'mixins';
body {
  font-family: 'Brown', sans-serif;
  background: variables.$gray;
}

.container {
  @include mixins.min-max(320px, 100%);
}
.wrap {
  @include mixins.min-max (320px, 1180px);
}

p,
a,
button {
  color: rgb(160, 160, 255);
}
a:hover {
  color: rgb(103, 103, 255);
}

img, input {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}