//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@font-face {
  font-family: 'Brown';
  src: url('../fonts/Brown/BrownLLCyr-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brown';
  src: url('../fonts/Brown/BrownLLCyr-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brown';
  src: url('../fonts/Brown/BrownLLCyr-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}